  .homw{
    width: 100%;
  }
.home__section {
    display: flex;
    padding: 30px;
    flex-direction:row;
    /* flex-wrap: wrap; */
  }
  .home__card{
    flex: 1;
    overflow: hidden;
  }
  @media only screen and (max-width: 600px) {
    .home__section {
    
      flex-direction: column;
    }
  }
